@media (max-width: 768px) {
    .navbar-menu {
      display: none;
      transform: translateX(100%); /* Initially, move the menu off-screen to the right */
    }
  
    .navbar.open .navbar-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateX(0); /* Move the menu back to its original position */
    }
  }

  .animate-slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  
  .animate-slide-out {
    transform: translateX(100%);
    opacity: 0;
  }